div.dokuwiki form.upload__plugin {
    width: 100%;
    text-align: center;
    display: block;
}

div.dokuwiki form.upload__plugin fieldset {
    width: 70%;
    text-align: left;
}

div.dokuwiki form.upload__plugin label {
    display: block;
    margin: 5px;
}

div.dokuwiki form.upload__plugin label span {
    text-align: right;
    width: 20em;
    display: block;
    float: left;
}

div.dokuwiki form.upload__plugin label input {
    display: inline;
    margin-left: 5px;
}

div.dokuwiki form.upload__plugin input.button {
    /*display: block;*/
    margin: 5px;
}

div.dokuwiki form.upload__plugin textarea {
    width: 50%;
}

.kachna-hider {
    cursor: help;
    background-color: @ini_background;
    color: @ini_text;
}

.kachna-hidden {
    background-color: @ini_background;
    color: @ini_background;
    box-shadow:0 0px 10px rgba(0,0,0,.4);
}